# =======================
# API parameters
# =======================

latitude: 49.771295
longitude: 4.724286

# =======================
# Display options
# =======================

color: true      # Allow/disallow colors in output
glyph: true      # Allow/disallow glyphs in output

# =======================
# Customizable glyphs
# (No effect if `glyph: false`)
# =======================

wind_glyph: ''  # Glyph displayed next to wind speed
